div.footerContainer
	div(class="container")
		div.row
			div(class="col-md-8 col-md-offset-2 footerBody")
				a(href="/tip") 
					i(class="fa fa-paper-plane")
					|  Skicka in citat
				a(href="/about") 
					i(class="fa fa-users")
					|  Om VadSdSagt.se