extends layout

block body
	div.page
		h1.header Vad är det här?
		div.body
			p
				| Lorem ipsum osv

			p
				b Nuvarande version: 
				| #{version}

			p
				b Authenticated: 
				if authenticated
					| YES
				else
					| NO