extends layout

block body
	div.quote
		h1.header Vad SD Sagt:
		div.body
			i(class="quoteMark fa fa-quote-left fa-4x")
			p Nu har vi alltså: folk som riskerar cancer pga invandringen samt folk som inte får boende pga invandringen

			div.person 
				i(class="fa fa-angle-double-right")
				|  Kent Ekeroth, Riksdagsledamot


		div.footer
			div.share
				i(class="shareIcon fa fa-facebook")
				i(class="shareIcon fa fa-twitter")
			div.info
				span.date Dec 2015
				span.source
					| Källa:  
					a(href="https://twitter.com/kentekeroth/status/674320508184305664", target="_blank") https://twitter.com/kentekeroth/status/674320508184305664		



		
	