extends layout

block body
	div(class="container-fluid quote")
		div.row
			h1.header Vad SD Sagt:
			div(class="body col-md-12")
				i(class="quoteMark fa fa-quote-left fa-5x")
				
				div(class="quoteText")
					p Nu har vi allts책: folk som riskerar cancer pga invandringen samt folk som inte f책r boende pga invandringen

				div(class="container-fluid")
					div.row
						div(class="col-md-4")
							img(style='background-image: url("/resources/images/kent_ekeroth.jpg"); background-position: center center;' class='person')
						div(class="col-md-8 person")
							p
								i(class="fa fa-angle-double-right")
								|  Kent Ekeroth, Riksdagsledamot
					div.row
						div(class="col-md-12 comment")
							| Och vi som trodde att cancer berodde p책 okontrollerad celldelning...




		div.row
			div(class="col-md-12 footer")
				div.share
					i(class="shareIcon fa fa-facebook fa-2x")
					i(class="shareIcon fa fa-twitter fa-2x")
					i(class="shareIcon fa fa-link fa-2x")	
				div.info
					span.date Dec 2015
					span.source
						| K채lla:  
						a(href="https://twitter.com/kentekeroth/status/674320508184305664", target="_blank") https://twitter.com/kentekeroth/status/674320508184305664

	div.nextQuote
		a(href="#", class="btn btn-lg btn-primary") Vad har SD sagt mer?