doctype html
head
	title Vad SD Sagt

	link(rel='stylesheet', href='/resources/css/vendor/bootstrap.min.css')
	link(rel='stylesheet', href='/resources/css/vendor/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/resources/css/main.css')


body
	div.mainContainer
		include ./includes/header.jade
		
		div(class="container bodyContainer")
			div.row
				div(class="col-md-8 col-md-offset-2")
					block body
		include ./includes/footer.jade
