extends layout

block body
	div.page
		h1.header Tack!
		div.body
			p
				b Tack för ditt bidrag!
			p
				| Så fort det är granskat och godkänt kommer det publiceras.

			p
				a(href="/") Gå tillbaka till startsidan

			p
				a(href="/tipsa") Tipsa om ett till citat