html,
body {
  height: 100%;
}
body {
  background-color: #3d3d3d;
  font-family: 'Lucida Grande', Arial, sans-serif;
}
.mainContainer {
  min-height: 100%;
  position: relative;
}
.mainContainer .bodyContainer {
  padding-bottom: 80px;
}
.mainContainer .footerContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background-color: #9b9b9b;
}
.mainContainer .footerContainer .footerBody {
  padding-top: 20px;
}
.mainContainer .footerContainer .footerBody a {
  margin-right: 15px;
  color: #fff;
}
img.person,
.singleupload img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}
.quote .header,
.page .header {
  font-style: italic;
  font-size: 400%;
  color: #9b9b9b;
}
.quote .body,
.page .body {
  color: #565656;
  background-color: #fff;
  padding: 35px;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.quote .body .quoteMark,
.page .body .quoteMark {
  position: relative;
  left: -20px;
  top: -20px;
  float: left;
  color: #898989;
}
.quote .body .quoteText,
.page .body .quoteText {
  min-height: 100px;
}
.quote .body .quoteText,
.quote .body .person,
.page .body .quoteText,
.page .body .person {
  font-size: 170%;
  font-style: italic;
}
.quote .body .person p,
.page .body .person p {
  text-align: right;
  padding-top: 75px;
}
.quote .body .comment,
.page .body .comment {
  border-top: 1px solid #eee;
  margin-top: 50px;
  padding-top: 10px;
  text-align: center;
}
.quote .footer,
.page .footer {
  color: #fff;
  margin-top: 15px;
  heigt: 2em;
}
.quote .footer .share,
.page .footer .share {
  width: 20%;
  float: left;
}
.quote .footer .share .shareIcon,
.page .footer .share .shareIcon {
  margin-right: 10px;
}
.quote .footer .share a,
.page .footer .share a {
  color: #ffffff;
}
.quote .footer .info,
.page .footer .info {
  font-size: 80%;
  width: 80%;
  float: right;
  text-align: right;
}
.quote .footer .info .date,
.page .footer .info .date {
  margin-right: 10px;
}
.singleupload {
  cursor: pointer;
}
.nextQuote {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.nextQuote b {
  color: #9b9b9b;
}
.nextQuote a {
  margin-right: 3px;
}
.page .body {
  font-size: inherit;
  font-style: inherit;
}
.error {
  padding: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 2em;
}
textarea.quoteInput {
  background-image: url('/resources/images/quote-left-opac.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100px;
  font-weight: bold;
  font-style: italic;
  padding-left: 100px;
}
ul.adminMenu {
  overflow: hidden;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
ul.adminMenu li {
  float: left;
  margin-right: 20px;
}
.fakeLink {
  cursor: pointer;
}
